.future-section-wrapper {
  background: linear-gradient(rgba(#000, 0.2), rgba(#000, 0.4)), url('/assets/img/lines-background.jpg') no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 54px);
  }

  @media screen and (min-width: 1024px) {
    min-height: calc(100vh - 70px);
  }
}

.title {
  line-height: 3.125rem;
  padding: 25px 0 30px;
  color: #FFFFFF;
  font-size: 3.125rem;
  font-weight: 700;
}

.icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 66px;
  color: #FFFFFF;
  font-size: 2.188rem;
  font-weight: 800;
  text-align: center;
  background-color: #f73a4c;
  border-radius: 50%;
}

.subtitle {
  line-height: 1.8rem;
  margin: 15px auto;
  color: #FFFFFF;
  font-size: 1.375rem;
  font-weight: normal;
  text-align: left;
}

.information {
  margin-top: 10px;
  line-height: 1.313rem;
  color: #adb5bd;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}