<section class="future-section-wrapper">
  <div class="text-center title">Future development</div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-2 text-center text-sm-right">
        <span class="icon">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col-12 col-sm-9 col-md-10">
        <div class="subtitle">For user accounts:</div>
        <p class="information">
          - Personal schedule for every user profile for the shows, the user has added to his watchlist.
          <br />
          - Facebook, Google+ and Twitter login options.
          <br />
          - Forgotten password functionality by given user e-mail.
          <br />
          - Chat system between users.
          <br />
          - Create more roles.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 col-md-2 text-center text-sm-right">
        <span class="icon">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col-12 col-sm-9 col-md-10">
        <div class="subtitle">Administrator CMS</div>
        <p class="information">
          - Add option to respond directly in the cms to the given e-mail address from the contact form.
          <br />
          - User account management - ban user.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 col-md-2 text-center text-sm-right">
        <span class="icon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col-12 col-sm-9 col-md-10">
        <div class="subtitle">Others:</div>
        <p class="information">
          - Be able to watch TV series online in our website.
        </p>
      </div>
    </div>
  </div>
</section>