<app-auth-layout>
  <app-auth-modal>
    <form (ngSubmit)="signIn()" ngForm>
    <fieldset>
        <ul>
          <input-with-errors
              name="email"
              type="email"
              [form]="signInForm"
              placeholder="Enter email address"></input-with-errors>
          <input-with-errors
              buttonRedirect="/forgotten"
              name="password"
              type="password"
              [form]="signInForm"
              placeholder="Enter password"></input-with-errors>
          <app-auth-submit
              [form]="signInForm"
              label="Not a member?"
              labelButtonText="Join now"
              labelRedirect="/signup"
              inputValue="Sign In"></app-auth-submit>
        </ul>
      </fieldset>
    </form>
  </app-auth-modal>
</app-auth-layout>