<ul class="menu-primary d-none d-md-block">
  <li class="menu-item">
    <a
        class="menu-link"
        [routerLink]="['/']"
        routerLinkActive="active"
        title="Home">Home</a>
  </li>
  <li class="menu-item">
    <a
        class="menu-link"
        [routerLink]="['/newest']"
        routerLinkActive="active"
        title="List of new shows">New Shows</a>
  </li>
  <li class="menu-item">
    <a
        class="menu-link"
        [routerLink]="['/browse']"
        routerLinkActive="active"
        title="Browse all TV shows">Browse A-Z</a>
  </li>
  <li class="menu-item">
    <a
        class="menu-link"
        [routerLink]="['/ranking']"
        routerLinkActive="active"
        title="List of all shows by their rating">High Scores</a>
  </li>
  <li class="menu-item">
    <a
        class="menu-link"
        [routerLink]="['/schedule']"
        routerLinkActive="active"
        title="Schedule for the week">This Week</a>
  </li>
</ul>