<ul class="sub-menu d-none d-md-inline-block">
  <li class="menu-item">
    <a
        class="menu-link"
        [routerLink]="['/search']"
        routerLinkActive="active"
        title="Search">Search</a>
  </li>
  <li class="menu-item">
    <a
        class="menu-link"
        [routerLink]="['/about-us']"
        routerLinkActive="active"
        title="About the site">About the Site</a>
  </li>
  <li class="menu-item">
    <a
        class="menu-link"
        [routerLink]="['/future-dev']"
        routerLinkActive="active"
        title="Future development">Future development</a>
  </li>
  <li class="menu-item">
    <a
        class="menu-link"
        [routerLink]="['/contacts']"
        routerLinkActive="active"
        title="Contact us">Contact us</a>
  </li>
</ul>