<app-auth-layout>
  <app-auth-modal>
    <form (ngSubmit)="signUp()" ngForm>
      <fieldset>
        <ul>
          <input-with-errors
              name="email"
              type="email"
              [form]="signUpForm"
              placeholder="Enter email address"></input-with-errors>
          <input-with-errors
              name="password"
              type="password"
              [form]="signUpForm"
              placeholder="Enter password"></input-with-errors>
          <input-with-errors
              name="confirmPassword"
              type="password"
              [form]="signUpForm"
              placeholder="Confirm password"></input-with-errors>
          <app-auth-submit
              [form]="signUpForm"
              label="Already a member?"
              labelButtonText="Sign In"
              labelRedirect="/signin"
              inputValue="Sign Up"></app-auth-submit>
        </ul>
      </fieldset>
    </form>
  </app-auth-modal>
</app-auth-layout>