<div class="user-navigation d-none d-md-inline-block align-middle">
  <div class="user-action">
    <a
        *ngIf="!isUserAuthenticated"
        class="button-auth"
        [routerLink]="['/signin']">Sign in</a>
    <button
        *ngIf="isUserAuthenticated"
        class="button-auth"
        (click)="onLogout()">Logout</button>
  </div>
  <div class="user-action">
    <a
        *ngIf="!isUserAuthenticated"
        class="button-profile"
        [routerLink]="['/signup']">Register now</a>
    <a
        *ngIf="isUserAuthenticated"
        class="button-profile"
        [routerLink]="['/profile']">View profile</a>
  </div>
</div>