.user-navigation {
  display: inline-block;
  width: 100px;
  height: 100%;
}

.user-action {
  width: 100%;
  height: 20px;
  margin-bottom: 4px;
}

.button-auth,
.button-profile {
  display: inline-block;
  line-height: 16px;
  margin-top: 6px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.button-auth:hover,
.button-profile:hover {
  text-decoration: none;
}

.button-auth {
  width: 65px;
  color: #000;
  background-color: #00b7ba;
  border: 1px solid #00b7ba;
}

.button-auth:hover {
  background-color: #54e2cc;
  border-color: #54e2cc;
}

.button-profile {
  width: 96px;
  color: #fff;
  background-color: #8B0000;
  border: 1px solid #8B0000;
}

.button-profile:hover {
  background-color: #DC143C;
  border-color: #DC143C;
}

@media screen and (min-width: 1024px) {
  .user-navigation {
    width: 150px;
  }

  .user-action {
    height: 30px;
  }

  .button-auth {
    width: 70%;
    line-height: 20px;
    margin-top: 8px;
    font-size: 14px;
  }

  .button-profile {
    width: 100%;
    line-height: 22px;
    margin-top: 3px;
    font-size: 16px;
  }
}