<app-auth-layout>
  <app-auth-modal>
    <form (onSubmit)="requestPassword" ngForm>
      <fieldset>
        <ul>
          <input-with-errors
              name="email"
              type="email"
              [form]="forgottenPasswordForm"
              placeholder="Enter email address"></input-with-errors>
          <app-auth-submit
              [form]="forgottenPasswordForm"
              label="Not a member?"
              labelButtonText="Join now"
              labelRedirect="/signup"
              inputValue="Send request"></app-auth-submit>
        </ul>
      </fieldset>
    </form>
  </app-auth-modal>
</app-auth-layout>