<app-auth-layout>
  <app-auth-modal>
    <form *ngIf="!isSuccess" (ngSubmit)="requestPassword()" ngForm>
      <fieldset>
        <ul>
          <input-with-errors
              name="email"
              type="email"
              [errorMessage]="hasErrors ? message : null"
              [form]="forgottenPasswordForm"
              placeholder="Enter email address"></input-with-errors>
          <app-auth-submit
              [form]="forgottenPasswordForm"
              label="Not a member?"
              labelButtonText="Join now"
              labelRedirect="/signup"
              inputValue="Send request"></app-auth-submit>
        </ul>
      </fieldset>
    </form>
    <div class="success-wrapper" *ngIf="isSuccess">
      <p class="success-message"><b>{{message}}</b></p>
      <a [routerLink]="['/']"><i>Go back to home</i></a>
    </div>
  </app-auth-modal>
</app-auth-layout>