.user-card-wrapper {
  position: relative;
  margin-top: 30px;
  padding: 15px;
  color: #eeeeee;
  background-color: rgba(136, 136, 136, 0.3);
  border-radius: 5px;

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

  .avatar-container {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #333333;
    border-radius: 50%;

    > img {
      height: 100%;
    }
  }

  .user-title{
    padding-top: 15px;
    font-size: 30px;
  }

  .profile-information {
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-left: 0;
      text-align: left;
    }
  }

  @media screen and (min-width: 768px) {
    .btn {
      min-width: 115px;
      margin-bottom: 10px;
    }
  }
}
