<div class="user-card-wrapper">
  <hr />
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="avatar-container">
        <img [src]="profile.profileImage" [alt]="profile.name" />
      </div>
    </div>
    <div class="col-md-6 col-sm-8 profile-information">
      <div class="row">
        <div class="col-12">
          <h2 class="user-title">Welcome, {{profile.name}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <span class="text-muted">Member since:</span> 20 Apr 2017
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="row justify-content-center">
            <div class="col-3">
              <i class="fa fa-eye text-muted" title="Watched Movies"></i> {{favouritesCount}}
            </div>
            <div class="col-3">
              <i class="fa fa-heart text-muted" title="Favorite Movies"></i> {{watchedShowsCount}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <button class="btn">My Shows</button>
      <button class="btn">Edit Profile</button>
    </div>
  </div>
  <hr />
</div>