<div class="user-card-wrapper">
  <hr />
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="avatar-container">
        <img *ngIf="profile.profileImage" [src]="profile.profileImage" [alt]="profile.name" />
      </div>
    </div>
    <div class="col-md-6 col-sm-8 profile-information">
      <div class="row">
        <div class="col-12">
          <h2 class="user-title">Welcome, {{profile.name}}</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
          <i class="fa fa-heart text-muted" title="Favorite Movies"></i>
          Favourites: {{favouritesCount}}
        </div>
        <div class="col-12 col-sm-6">
          <i class="fa fa-eye text-muted" title="Watched Movies"></i>
          Watched: {{watchedShowsCount}}
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center pt-2">
      <a
          routerLinkActive="d-none"
          [routerLink]="'/profile/shows'"
          class="btn btn-primary">My Shows</a>
      <a
          routerLinkActive="d-none"
          [routerLink]="'/profile/progress'"
          class="btn btn-primary">My progress</a>
      <a
          routerLinkActive="d-none"
          [routerLink]="'/profile/edit'"
          class="btn btn-primary">Edit Profile</a>
    </div>
  </div>
  <hr />
</div>