.container {
  margin-top: 25px;
  color: white;
  font-size: 14px;
  text-align: center;

  @media screen and (min-width: 768px) {
    position: absolute;
      top: 50%;
      left: 50%;
    font-size: 16px;
    text-align: left;
    transform: translate(-50%, -50%);
  }

  .image {
    width: 130px;
    height: 175px;
    margin: 0 auto 30px;
    background: url('/assets/img/spilled-popcorn.png') no-repeat center;
    background-size: auto 100%;

    @media screen and (min-width: 768px) {
      width: 225px;
      height: 300px;
      margin: 0 15px 0 auto;
    }
  }

  .title {
    line-height: 1;
    font-size: 70px;

    @media screen and (min-width: 480px) {
      line-height: 1.25;
      font-size: 100px;
    }
  }

  .subtitle {
    font-size: 20px;

    @media screen and (min-width: 480px) {
      font-size: 26px;
    }
  }

  .info-section {
    max-width: 340px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  .actions {
    text-align: center;

    a {
      display: inline-block;
      line-height: 16px;
      padding: 7px 15px;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      background-color: #8B0000;
      border: 1px solid #8B0000;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.2s ease-in-out, border 0.2s ease;

      &:hover {
        background-color: #DC143C;
        border-color: #DC143C;
      }
    }
  }
}