<div class="season">
  <section class="season-wrapper">
    <div class="container position-relative">
      <div class="season-data-container">
        <ul class="seasons-list">
          <li><strong>Season</strong></li>
          <li>
            <button class="season-number">1</button>
          </li>
          <li>
            <button class="season-number">1</button>
          </li>
          <li>
            <button class="season-number">1</button>
          </li>
          <li>
            <button class="season-number">1</button>
          </li>
          <li>
            <button class="season-number">1</button>
          </li>
          <li>
            <button class="season-number">1</button>
          </li>
          <li>
            <button class="season-number">1</button>
          </li>
        </ul>
        <p class="title">Season 4</p>
        <p class="information">2016 | 22 Episodes</p>
        <div class="season-poster">
          <img class="season-poster-image" alt="Season 4"
               src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/nWULHwAb7yjlrGpB5BTdnjZc980.jpg">
        </div>
        <p class="plot">
          Vengeance runs rampant this season as Coulson is a mere agent again, and Daisy has gone rogue after being
          under
          Hive's control. How will S.H.I.E.L.D. deal with the arrival of The Ghost Rider?
        </p>
        <button class="toggle-episodes-button">Show episodes</button>
      </div>
    </div>
  </section>
</div>
<div class="episodes-wrapper">
  <div class="row">
    
  </div>
</div>