<div class="season" *ngIf="currentSeason">
  <section class="season-wrapper">
    <div class="container position-relative">
      <div class="season-data-container">
        <ul class="seasons-list" *ngIf="seasons.length > 0">
          <li><strong>Season</strong></li>
          <li *ngFor="let season of seasons">
            <button
                class="season-number"
                [ngClass]="{'active' : currentSeason.id === season.id}"
                (click)="changeSeason(season.id)">
              {{ season.number }}
            </button>
          </li>
        </ul>
        <p class="title">Season {{ currentSeason.number }}</p>
        <p class="information">{{ currentSeason.releaseYear }} | {{ currentSeason.episodes.length }} Episodes</p>
        <div class="season-poster">
          <img class="season-poster-image" alt="Season {{ currentSeason.number }}" src="{{ currentSeason.poster }}" />
        </div>
        <p class="plot">{{ currentSeason.description }}</p>
        <button
            class="toggle-episodes-button"
            (click)="toggleEpisodes()">
            {{ areEpisodesShown ? 'Hide' : 'Show' }} episodes
        </button>
      </div>
    </div>
  </section>
</div>
<div class="episodes-wrapper" *ngIf="areEpisodesShown && currentSeason && currentSeason.episodes.length > 0">
  <div class="row">
    <div class="col-12 col-sm-6 col-xl-4" *ngFor="let episode of currentSeason.episodes">
      <episode [episode]="episode"></episode>
    </div>
  </div>
</div>