.filters-wrapper {
  text-align: center;
  transition: padding 0.3s ease;

  @media screen and (min-width: 768px) {
    padding-top: 15px;
    text-align: left;
  }

  .title {
    margin: 15px auto 10px;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    transition: font 0.3s ease;

    @media screen and (min-width: 768px) {
      display: inline-block;
      font-size: 30px;
    }
  }

  .sort-menu {
    color: #eeeeee;
    transition: margin 0.3s ease;

    @media screen and (min-width: 768px) {
      float: right;
      margin-top: 20px;
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 3px 10px;
      line-height: 22px;
      cursor: pointer;

      @media screen and (min-width: 768px) {
        margin: 0 3px;
      }

      &:not(.toggle-categories) {
        border: 2px solid transparent;
        border-radius: 10px;
        transition: border 0.3s ease-in-out;

        &.active {
          border-color: #eeeeee;
        }

        &:hover {
          color: #FFFFFF;
          border-bottom-color: #FFFFFF;
        }
      }

      &.toggle-categories {
        font-size: 16px;

        @media screen and (min-width: 768px) {
          font-size: 20px;
        }
      }
    }
  }

  .divider {
    display: block;
    width: 100%;
    margin: 10px auto 0;
    border: 0;
    border-top: 1px solid #eee;
    transition: margin 0.3s ease;

    @media screen and (min-width: 768px) {
      margin: 0 auto;
    }
  }
}

.categories-list {
  overflow: hidden;
  max-height: 100%;
  margin-bottom: 20px;
  padding: 5px 0;
  border-bottom: 1px solid #FFFFFF;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  &.hidden {
    height: 0;
    padding: 0;

    @media screen and (min-width: 768px) {
      margin: 0 auto;
    }
  }

  ul {
    max-width: 400px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
      padding-left: 40px;
    }

    @media screen and (min-width: 576px) {
      max-width: 100%;
      padding: 0;
    }
  }
}