<div class="filters-wrapper">
  <p class="title">All TV Shows</p>
  <ul class="sort-menu">
    <li
        *ngFor="let sortingFilter of sortingFiltersMap"
        [ngClass]="{'active': sortingFilter === currentSortingFilter}"
        [title]="sortingFilter.title"
        (click)="switchSortingFilter(sortingFilter)">
      <i class="fa fa-{{sortingFilter.icon}}"></i>
    </li>
    <li
        (click)="toggleCategories()"
        class="toggle-categories"
        title="Choose categories">
    <span class="open-categories ng-scope">
      Categories
      <i class="fa" [ngClass]="isCategoryFilterOpen ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
    </span>
    </li>
  </ul>
  <hr class="divider"/>
</div>
<div class="categories-list" [ngClass]="{ 'hidden': !isCategoryFilterOpen }">
  <ul class="row">
    <browse-categories
        class="col-6 col-sm-3"
        *ngFor="let category of categories"
        (categoryStateChanged)="handleCategoryChanged($event)"
        [category]="category"></browse-categories>
  </ul>
</div>
