<app-auth-layout>
  <app-auth-modal>
    <form (ngSubmit)="updatePassword()" ngForm>
      <fieldset>
        <ul>
          <input-with-errors
              name="password"
              type="password"
              [form]="updatePasswordForm"
              placeholder="Enter your new password"></input-with-errors>
          <input-with-errors
              name="confirmPassword"
              type="password"
              [form]="updatePasswordForm"
              placeholder="Confirm your password"></input-with-errors>
          <app-auth-submit
              [form]="updatePasswordForm"
              label="Already a member?"
              labelButtonText="Log in now"
              labelRedirect="/signin"
              inputValue="Change password"></app-auth-submit>
        </ul>
      </fieldset>
    </form>
  </app-auth-modal>
</app-auth-layout>