<li [formGroup]="form && form.getForm()">
  <span class="error error-message">{{ form.getError(name) || (errorMessages && errorMessages[name]) }}</span>
  <div
      class="fieldgroup"
      [ngClass]="{ 'with-side': buttonRedirect }">
    <input
        class="user-input"
        [id]="id || name"
        [name]="name"
        [ngClass]="{ 'error': (errorMessages && errorMessages[name]) || form.getError(name)}"
        [placeholder]="placeholder"
        [type]="type"
        [formControlName]="name" />
    <a
        *ngIf="buttonRedirect"
        class="side-button"
        [routerLink]="[buttonRedirect]"
        title="Forgot your password?">
      <i class="fa fa-unlock-alt"></i>
    </a>
  </div>
</li>