<div class="col-10 order-md-1 m-auto">
  <div class="row">
    <div [ngClass]="episodeId ? 'col-10' : 'col-12'">
      <h4 class="mb-3" *ngIf="episodeId">Edit episode</h4>
      <h4 class="mb-3" *ngIf="!episodeId">Add new episode</h4>
    </div>
    <div class="col-2 text-right" *ngIf="episodeId">
      <button class="btn btn-dark"
              (click)="onDelete()"
              title="Delete this episode">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <hr class="mb-4">
  <form [formGroup]="tvShowEpisodeForm" class="needs-validation mb-3" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-8 mb-3">
            <label for="title">Title</label>
            <input
                id="title"
                class="form-control"
                type="text"
                formControlName="title"
                placeholder="Enter title for the episode here" />
          </div>
          <div class="col-md-4 mb-3">
            <label for="releaseDate">Release date</label>
            <input
                id="releaseDate"
                class="form-control"
                type="date"
                formControlName="releaseDate" />
          </div>
        </div>
        <div class="mb-3">
          <label for="screenshot">Screenshot URL</label>
          <input
              id="screenshot"
              class="form-control"
              type="text"
              formControlName="screenshot"
              placeholder="Screenshot URL"
              #screenshotImagePath />
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="number">Number</label>
            <input
                id="number"
                class="form-control"
                type="number"
                formControlName="number"
                placeholder="Episode number" />
          </div>
          <div class="col-md-3 mb-3">
            <label for="runtime">Runtime</label>
            <input
                id="runtime"
                class="form-control"
                type="text"
                formControlName="runtime"
                placeholder="Runtime" />
          </div>
          <div class="col-md-3 mb-3">
            <label for="imdbId">IMDB ID</label>
            <input
                id="imdbId"
                class="form-control"
                type="text"
                formControlName="imdbId"
                placeholder="IMDB ID" />
          </div>
          <div class="col-md-3 mb-3">
            <label for="imdbRating">IMDB Rating</label>
            <input
                id="imdbRating"
                class="form-control"
                type="text"
                formControlName="imdbRating"
                placeholder="IMDB Rating" />
          </div>
        </div>
      </div>
      <div class="col-md-5 text-center">
        <label for="poster-image" class="d-block">Screenshot preview:</label>
        <img
            id="poster-image"
            [src]="screenshotImagePath.value || '/assets/img/camera-diaphragm.png'"
            alt="Episode screenshot"
            class="img-fluid" />
      </div>
    </div>
    <div class="mb-3">
      <label for="plot">Plot</label>
      <textarea
          id="plot"
          class="form-control"
          formControlName="plot"
          rows="5"></textarea>
    </div>
    <hr class="mb-4" />
    <button class="btn btn-primary btn-lg btn-block" type="submit">Save episode</button>
  </form>
</div>