.comments {
  padding: 40px 0;
  background: radial-gradient(at 10% 30%, rgba(39, 74, 97, 0.5) 0%, rgba(197, 54, 26, 0.7) 100%), url('/assets/img/striped-background.jpg') repeat-y top;
  background-size: 100%;

  .title {
    line-height: 1.313rem;
    margin: 20px auto 10px;
    color: #FFFFFF;
    font-size: 1.313rem;
    font-weight: 600;
  }

  hr {
    margin: 5px auto;
    border-top: 2px solid rgba(255, 255, 255, 0.7);
  }

  .comment-wrapper {
    max-width: 700px;
    margin: 0 auto;
  }
}