<section class="comments">
  <div class="container">
    <div class="title">Discuss</div>
    <hr />
    <div class="comment-wrapper">
      <comment-form (newCommentAdded)="handleNewComment($event)"></comment-form>
      <ng-container *ngIf="comments.length > 0">
        <single-comment
            *ngFor="let comment of comments"
            [comment]="comment"></single-comment>
      </ng-container>
      <p class="no-comments" *ngIf="comments.length === 0">No comments yet!</p>
    </div>
  </div>
</section>