<div class="episode-wrapper">
  <div class="title-wrapper">
    <span class="gradient"></span>
    <span class="number">#1</span>
    <img class="screenshoot" alt="The One After Joey and Rachel Kiss"
         src="https://image.tmdb.org/t/p/w454_and_h254_bestv2/eo4ySedQXdpKoB2cRshDA9UEbLO.jpg">
  </div>
  <h3 title="The One with Ross's Tan" class="title">
    <div class="additional-data">
      <a class="title-episode-rating" title="View IDBM page" href="http://www.imdb.com/title/tt0583484">
        <i class="fa fa-line-chart" aria-hidden="true"></i> 8.8
      </a>
      <span class="runtime"><i class="fa fa-clock-o" aria-hidden="true"></i> 22 min</span>
    </div>
    The One with Ross's Tan
  </h3>
  <p class="synopsis">Joey and Ross both attempt to come clean to each other that they're dating Rachel and Charlie.
    Phoebe finds out Mike has another girlfriend.</p>
</div>