<div class="episode-wrapper">
  <div class="title-wrapper">
    <span class="gradient"></span>
    <span class="number">#{{ episode.number }}</span>
    <img class="screenshoot" alt="{{ episode.title }}" src="{{ episode.screenshot }}" />
  </div>
  <h3 title="{{ episode.title }}" class="title">
    <div class="additional-data">
      <a class="title-episode-rating" title="View IDBM page" href="http://www.imdb.com/title/{{ episode.imdbId }}">
        <i class="fa fa-line-chart" aria-hidden="true"></i> {{ episode.imdbRating }}
      </a>
      <span class="runtime"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ episode.runtime }}</span>
    </div>
    {{ episode.title }}
  </h3>
  <p class="synopsis">{{ episode.plot }}</p>
</div>