.form-group {
  margin-bottom: 5px;
}

.form-control {
  line-height: 1.5;
  color: #555;
  font-size: 14px;
  border: none;
  box-shadow: none;
  outline: none;
}

label {
  padding-top: 6px;
  color: #fff;

  @media screen and (min-width: 768px) {
    text-align: right;
  }
}

.message-wrapper {
  height: 21px;

  .edit-message {
    display: block;
    line-height: 1.313rem;
    margin: 0 5px;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    background-color: #228b22;
    border-color: #228b22;
    border-radius: 0 0 30px 30px;

    &.error {
      background-color: #8B0000;
      border-color: #8B0000;
    }
  }
}

.image-container {
  padding: 20px;

  @media screen and (min-width: 768px) {
    position: absolute;
      top: 0;
      right: 0;
  }

  .image-preview {
    min-width: 125px;
    max-width: 150px;
    min-height: 125px;
    max-height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #eeeeee;
    border-radius: 50%;

    @media screen and (min-width: 768px) {
      margin: 0;
    }

    img {
      width: 100%;
    }
  }
}

.file-input-wrapper {
  height: 33px;

  input {
    pointer-events: none;
  }

  button {
    padding: 0 15px;
    color: #000;
    font-weight: 700;
    background-color: #00b7ba;
    border-color: #00b7ba;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: #54e2cc;
      border-color: #54e2cc;
    }
  }
}