<div class="suggested-shows">
  <div class="container">
    <div class="title">{{ sectionTitle }}</div>
    <div class="shows-wrapper row justify-content-center">
      <div class="col-12 col-md-4" *ngFor="let tvShow of shows">
        <div class="single-show">
          <div class="poster-container">
            <show-poster
                [showTitle]="tvShow.title"
                [showUrl]="'/show/' + tvShow.id"
                [showImage]="tvShow.poster"></show-poster>
          </div>
          <div class="release-date">{{ tvShow.releaseDate | date:'longDate' }}</div>
          <div class="show-title">
            <a [routerLink]="['/show', tvShow.id]">{{tvShow.title}}</a>
          </div>
          <div class="plot">{{ tvShow.plot | truncate:[250] }}</div>
        </div>
      </div>
    </div>
  </div>
</div>