/* You can add global styles to this file, and also import other style files */
body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
}

a {

}

a:hover {
  text-decoration: none;
}

a:focus,
input:focus,
button:focus {
  outline: none;
}