@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "../sb-admin.min.css";

body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;

  &.modal-open {
    overflow: hidden;
  }
}

a:hover {
  text-decoration: none;
}

a:focus,
input:focus,
button:focus {
  outline: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: initial;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .col-md-5th {
    flex: 0 0 20%;
    max-width: 20%;
  }
}


//** Slick **//

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider {
  .slick-track,
  .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-track {
  position: relative;
    top: 0;
    left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before {
    content: '';
    display: table;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide {
  img { display: block; }
  &.slick-loading img { display: none; }
  &.dragging img { pointer-events: none; }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow {
  position: absolute;
    top: 50%;
  color: #f8f9fa;
  font-size: 1.5rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);

  @media screen and (min-width: 1024px) {
    font-size: 2rem;
  }

  &.slick-hidden {
    display: none;
  }

  &.next-arrow {
    right: -30px;

    @media screen and (min-width: 1024px) {
      right: -50px;
    }
  }

  &.back-arrow {
    left: -35px;

    @media screen and (min-width: 1024px) {
      left: -50px;
    }
  }
}

/* MODAL STYLES */
modal {
  display: none;

  .modal {
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1100;
    display: block !important;
    overflow: auto;

    .auth-section {
      width: auto;
      height: auto;
      background: none;
    }

    .popup-close-button {
      display: inline-block;
    }
  }

  .modal-background {
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
    background-color: #000;

    @media screen and (min-width: 480px) {
      opacity: 0.75;
    }
  }
}