<div class="shows-with-rating">
  <div class="container">
    <div class="title">{{sectionTitle}}</div>
    <div class="shows-wrapper row justify-content-center">
      <div class="col-6 col-md-3" *ngFor="let tvShow of shows">
        <div class="single-show">
          <div class="poster-container">
            <show-poster
                [showTitle]="tvShow.title"
                [showUrl]="'/show/' + tvShow.id"
                [showImage]="tvShow.poster"></show-poster>
          </div>
          <div class="show-title">
            <a [routerLink]="['/show', tvShow.id]">{{tvShow.title}}</a>
          </div>
          <rating-stars [rating]="tvShow.imdbRating"></rating-stars>
        </div>
      </div>
    </div>
  </div>
</div>