<div class="shows-with-rating">
  <div class="container">
    <div class="title">
      Other popular TV-shows
    </div>
    <div class="shows-wrapper row justify-content-center">
      <div class="col-6 col-md-3">
        <div class="single-show">
          <div class="poster-container">
            <show-poster
                showTitle="Jessica Jones"
                showUrl="show/4"
                showImage="https://image.tmdb.org/t/p/w300_and_h450_bestv2/dWILlx5a1NnQgE6n4QU3jAv1J64.jpg"></show-poster>
          </div>
          <div class="show-title">
            <a [routerLink]="['show', 4]">Jessica Jones</a>
          </div>
          <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>